.cardItem {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 10px 20px;
    width: 300px;
    border-radius: 15px;
    /* z-index: -999; */
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 80px;
    background-color: #1c2536;
}

.cardItem p {
    text-align: left;
    font-family: Belanosima;
    color: white;
}

.cardItem p:nth-child(1) {
    font-size: 16px;
    font-weight: 400;
    position: relative;

}

.cardItem p:nth-child(2) {
    font-size: 25px;
    font-weight: 500;
    margin-top: 5px;
}

.cardItem p:nth-child(3) {
    margin-top: 10px;
    font-size: 15px;
    color: #a7a3a3;
}

.itemChart {
    color: #7AFDC9;
    background: #23C10A26;
    position: absolute;
    right: 0;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 2px 6px;
    top: 0;

}